<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ShadowBox Tools</title>
        <!--		<link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.chunks.main.css %>" media="all"/>-->
    </head>
    <body>
        <div id="App"></div>
        <!--		<script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>-->
    </body>
</html>
